body {
    font-family: system-ui, sans-serif;
    background: #4b4b4b;
    color: #eee;
    padding: 2rem;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0;
}