.fight-of-the-day {
    margin-top: 3rem;
}

.fight-card{
    margin-top: 2rem;
    border: 1px solid #ffffff;
}

.fight-of-the-day h2 {
    display: flex;
    justify-content: center;
}

.fight-card {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 1.5rem;

    padding: 1rem;
    background: #222;
    border-radius: 6px;
}

.fighter-left {
    text-align: left;
}

.fighter-right {
    text-align: right;
}

.fight-stats {
    text-align: center;
    font-weight: 600;
    opacity: 0.85;
}