.fight-of-the-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.fight-card{
    margin-top: 0.5rem;
    border: 1px solid #ffffff;
}

.fight-of-the-day h2 {
    margin-top: 1rem;
    text-align: center;
}

.fight-card {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 1.5rem;

    padding: 1rem;
    background: #222;
    border-radius: 6px;
    border: 1px solid #ffffff;

    width: 100%;
    max-width: 40rem;
    box-sizing: border-box;
}

.fighter-left {
    text-align: left;
}

.fighter-right {
    text-align: right;
}

.fight-stats {
    text-align: center;
    font-weight: 600;
    opacity: 0.85;
}