<div class="card-row">
        <a class="card {% if request.url.path == '/' %}active{% endif %}" href="/">
            <h2>Home</h2>
        </a>

        <a class="card {% if request.url.path.startswith('/fighters') %}active{% endif %}" href="/fighters/">
            <h2>Fighters</h2>
        </a>

        <a class="card {% if request.url.path.startswith('/fights') %}active{% endif %}" href="/fights/">
            <h2>Fights</h2>
        </a>

        <a class="card {% if request.url.path.startswith('/events') %}active{% endif %}" href="/events/">
            <h2>Events</h2>
        </a>

        <a class="card {% if request.url.path.startswith('/search') %}active{% endif %}" href="/search/">
            <h2>Search</h2>
        </a>
    </div>